{% extends 'index/layout.html' %}
{% load static %}
{% load get_property %}
{% load generate_color %}
{% load count %}
{% block title %}{{form.title}}'s response ~ Google Forms CLONE{% endblock %}
{% block script %}
<script src="{% static 'index/responses.js' %}" defer></script>
<script src="{% static 'index/phone.js' %}" defer></script>
<script src="{% static 'lib/cookie.min.js' %}"></script>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="form-topnav">
        <a href = "/">
            <img src = "{% static 'Icon/icon.png' %}" alt = "Google Forms Icon(CLONE)" class="navbar-icon form-icon" title = "Forms" />
        </a>
        <span class="nav-text nav-form-title input-form-title">{{form.title}}</span>
        <div class="float-right">
            <img src="{% static 'Icon/theme.png' %}" alt="Theme icon" id="customize-theme-btn" title = "Customize theme" class="nav-form-menu-icon" />
            <a href="{% url 'view_form' form.code %}">
            <img src="{% static 'Icon/eye.png' %}" alt="Preview icon" title = "Preview" class="nav-form-menu-icon big-screen" />
            </a>
            <img src="{% static 'Icon/send.png' %}" alt ="Send icon" title = "Send" class="nav-form-menu-icon small-screen" id="send-form-btn" />
            <img src="{% static 'Icon/setting.png' %}" alt="Setting icon" title = "Setting" class="nav-form-menu-icon open-setting" />
            <button type="button" id="send-message">Send</button>
        </div>
    </div>
    <div class="form-topnav">
        <div class="form-navigation center">
            {% if form.is_quiz %}
            <span class="col-3 navigation active"><a href = "{% url 'event_location' form.code %}" class="link">Event Location</a></span>
            <span class="col-3 navigation active"><a href = "{% url 'edit_form' form.code %}" class="link">Questions</a></span>
            <span class="col-2 navigation score"><a href = "{% url 'score' form.code %}" class="link">Scores</a></span>
            <span class="col-2 navigation"><a href = "{% url 'responses' form.code %}" class="link">Responses</a></span>
            <span class="col-2 navigation "><a href = "{% url 'phone' form.code %}" class="link">Phone number</a></span>
            {% else %}
            <span class="col-3 navigation active"><a href = "{% url 'event_location' form.code %}" class="link">Event Location</a></span>
            <span class="col-3 navigation active"><a href = "{% url 'edit_form' form.code %}" class="link">Questions</a></span>
            <span class="col-3 navigation"><a href = "{% url 'responses' form.code %}" class="link">Responses</a></span>
            <span class="col-3 navigation "><a href = "{% url 'phone' form.code %}" class="link">Phone number</a></span>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <span id="bg-color" style="display: none;">{{form.background_color}}</span>
        <span id="text-color" style="display: none;">{{form.text_color}}</span>
        
         <div class="margin-top-bottom box question-box" id="responses">
            <h3>Add Recipatient Phone Number</h3>
            <hr>
            <form id="phone-form">
            <input type="text" id="phone-input" placeholder="Enter phone number">
            <button type="button" id="add-button">Add</button>
            </form>
            <ul id="phone-list"></ul>
        </div>

        <div class="margin-top-bottom box question-box" id="responses">
            <h3>List Of Recipatient Phone Number</h3>
            <hr>
            <ul >
                {% for phone_number in phone %}
                <li id="list_phone"><span>{{ phone_number.phone }}</span> <button id="link-delete" class="cursor-pointer" data-id="{{phone_number.phone}}">Remove</button></li>
                {% endfor %}
            </ul>
        </div>
        <div class="margin-top-bottom box question-box" id="responses">
            <h3>Add Invitation Message</h3>
            <hr>
            <form id="message-form">
            <textarea class="form-description edit-on-click textarea-adjust txt-clr" rows="1" placeholder="Form description" spellCheck = "false"
            id="input-form-message">{{ message }}</textarea>
            <button type="button" id="add-message">Add Message</button>
            </form>
        </div>

        
 
</div>

{% endblock %}